body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.flex {
  display: flex;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-columns: auto max(300px);
  grid-template-rows: auto;
  width: 100vw;
  height: 1000px;
}

.eggs-header {
  margin-bottom: -0.8rem;
}

#canvas {
  box-sizing: border-box;
  background-color: #f0f0f0;
}

.info-panel {
  grid-column-start: 2;
  grid-column-end: 3;
}

.info-section {
  padding: 1.5rem 1.5rem;
  height: auto;
  border-bottom: 1px solid #f0f0f0;
  line-height: 1.3;
}

.bottom {
  border: none;
}

.info-area {
  padding: 0rem 1rem;
  padding-bottom: 1.3rem;
}

p,
#adjacency-list {
  font-size: 0.8rem;
}

.info-name {
  color: gray;
  display: inline;
}

.text-center {
  text-align: center;
}

#easter-eggs {
  display: none;
  animation-duration: 0.5s;
  animation-name: expand;
}

@keyframes expand {
  from {
    padding: 0;
    height: 0px;
  }

  to {
    padding: 1rem 2rem;
    height: 135px;
  }
}

#egg-slider {
  position: relative;
  left: 400px;
  animation-delay: 0.5s;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    left: 400px;
  }

  to {
    left: 0px;
  }
}

.egg {
  display: inline-block;
  text-align: left;
  line-height: 200%;
  width: 25px;
  margin: 0;
}

.note {
  color: gray;
}

#node-count,
#edge-count {
  display: inline;
}

.header {
  margin-top: 0rem;
  font-weight:bold;
}

#adjacency-list {
  list-style-type: none;
  padding-left: 0;
}

#commentary {
  font-style: italic;
  color: #4a4a4a;
}

.navbar {
  background-color: rgb(45, 45, 45);
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
}

.toolbar {
  background-color: rgb(45, 45, 45);
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}

.toolbar:hover #hover-info-pane {
  visibility: visible;
}

.tool-btn {
  height: 18px;
  display: inline-block;
  border: none;
  padding: 25px 25px;
  text-decoration: none;
  background: none;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 50ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.tool-btn:hover {
  background-color: black;
}

.selected, .selected:hover {
  background-color: #32BFE3;
}

#basic {
  background-image: url("images/pointer_white.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#area-complete {
  background-image: url("images/area-complete-cursor-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2rem;
}

#undo {
  background-image: url("images/undo-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.4rem;
}

.cursor-shadow {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

#hover-info-pane {
  position: absolute;
  visibility: hidden;
  display: flex;
  align-items: flex-start;
  border-radius: 4px;
  background-color: white;
  padding: 25px;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.4));
}

.hover-info-text {
  width: 250px;
}

#hover-info-img {
  align-self: center;
  margin-left: 14px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  background-color: grey;
}

.hover-info-text > .header {
  margin-top: 0rem;
}

.adj-list-area {
  height: 120px;
  overflow-x: hidden;
  overflow-y: auto;
}

#adj-matrix {
  border: 1px solid lightgray;
}
