body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  display: grid;
  grid-template-columns: auto max(300px);
  grid-template-rows: auto;
  width: 100vw;
  height: 1000px;
}

.eggs-header {
  margin-bottom: -0.8rem;
}

#canvas {
  box-sizing: border-box;
  background-color: #f0f0f0;
}

.info-panel {
  grid-column-start: 2;
  grid-column-end: 3;
}

.info-section {
  padding: 1rem 2rem;
  height: auto;
  border-bottom: 1px solid #f0f0f0;
  line-height: 1.3;
}

.bottom {
  border: none;
}

.info-area {
  padding: 0rem 1rem;
  padding-bottom: 1.3rem;
}

p,
#adjacency-list {
  font-size: 90%;
}

.info-name {
  color: gray;
  display: inline;
}

.text-center {
  text-align: center;
}

#easter-eggs {
  display: none;
  animation-duration: 0.5s;
  animation-name: expand;
}

@keyframes expand {
    from {
        padding: 0;
        height: 0px;
    }

    to {
        padding: 1rem 2rem;
        height: 135px;
    }
}

#egg-slider {
  position: relative;
  left: 400px;
  animation-delay: 0.5s;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    left: 400px;
  }

  to {
    left: 0px;
  }
}

.egg {
  display: inline-block;
  text-align: left;
  line-height: 200%;
  width: 25px;
  margin: 0;
}

.note {
  color: gray;
}

#node-count,
#edge-count {
  display: inline;
}

.header {
  font-weight: bold;
}

#adjacency-list {
  list-style-type: none;
  padding-left: 0;
}

#commentary {
  font-style: italic;
  color: #4a4a4a;
}

.toolbar {
  position: absolute;
  left:100px;
  display:flex;
}

.tool-btn {
  width: 30px;
  height: 30px;
  margin: 10px;
  border: 1px solid #909090;
  border-radius: 5px;
}

.tool-btn:hover {
  background-color: black;
}

.tool-btn.selected {
  background-color: #32BFE3;
}

.cursor-shadow {
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

#egg-info-pane {
  position: absolute; 
  visibility: hidden;
  display: flex;
  align-items: flex-start;
  border-radius: 4px;
  background-color: white;
  padding: 14px;
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .4));
}

.egg-info-text {
  width: 250px;
}

.egg-info-img {
  align-self: center;
  margin-left: 14px;
  width:100px;
  height: 100px;
  background-color: grey;
}

.egg-info-text > .header {
  margin-top: 0rem;
}